{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Choose User Type{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/SelectRoleForm.css' %}" />
{% endblock %}
{% block css-container %}select-role-form{% endblock %}
{% block content %}
<div class="sign-up-form">
  <b class="select-your-role">Select Your Role</b>
  <form class="role-btn" method="post" action="{% url 'choose_user_type' %}">
    {% csrf_token %}
    <button type="submit" name="role" value="student" class="image-13-parent">
      <img class="image-13-icon" alt="Student Icon" src="{% static 'public/image-13@2x.png' %}" />
      <b class="student">Student</b>
    </button>
    <button type="submit" name="role" value="parent" class="image-13-parent">
      <img class="image-13-icon" alt="Parent Icon" src="{% static 'public/image-131@2x.png' %}" />
      <b class="student">Parents</b>
    </button>
    <button type="submit" name="role" value="teacher" class="image-13-parent">
      <img class="image-13-icon" alt="Teacher Icon" src="{% static 'public/image-132@2x.png' %}" />
      <b class="student">Teacher</b>
    </button>
  </form>
</div>
{% endblock %}
{% block feedback-form %}{% endblock %}