{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    {{ module.short_name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ModulesCommon.css' %}"/>
{% endblock %}

{% block css-container %}
    concept-module-page
{% endblock %}

{% block content %}
    <div class="module-container">
        
        <header class="module-header">
             <div class="module-breadcrumb">
                <a href="{% url 'module_handler' %}">My courses</a> /
                <span>{{ module.short_name }}</span>
            </div>
            <h1 class="module-title">{{ module.name }}</h1>
        </header>

        <div class="module-content">
            <div class="description-box">
                <div class="description-text">
                    <h3 class="description-title">Description</h3>
                    <p class="description-paragraph">{{ module.description }}</p>
                </div>

                 {% if module.thumbnail %}
                    <img class="module-thumbnail" alt="{{ module.name }} Thumbnail" src="{{ module.thumbnail }}"/>
                {% endif %}
            </div>

            <div class="progress-section">
                <ol class="progress-list">
                    {% for sub_module in sub_modules %}
                        <li class="progress-item">
                            <div class="progress-icon">
                                {% if sub_module in module_progress.completed_submodules.all %}
                                    <img src="{% static 'public/bicheck.svg' %}" alt="Finished"/>
                                {% else %}
                                    <img src="{% static 'public/bicheck1.svg' %}" alt="Not Finished"/>
                                {% endif %}
                            </div>
                            <a class="progress-link" href="{% url 'lecture_view' sub_module.id %}">
                                {{ forloop.counter }}. {{ sub_module.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
