{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    Challenge list
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ModulesCommon.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}"/>
{% endblock %}

{% block css-container %}
    concept-module-page
{% endblock %}

{% block content %}
    <div class="module-container">
        <header class="module-header">
            <h1 class="module-title">Challenge List</h1>
        </header>
        <div class="module-content">
            <ul>
                {% for challenge in challenges %}
                    <li><a href="{% url 'challenge' challenge.id %}">{{ challenge.name }}</a></li>
                {% empty %}
                    <li>No challenges available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}