{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    Challenge list
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ModulesCommon.css' %}"/>
{% endblock %}

{% block css-container %}
    concept-module-page
{% endblock %}

{% block content %}
    <div class="module-container">
        <header class="module-header">
            <h1 class="module-title">Challenge List</h1>
        </header>
        <div class="module-content">
            <ol class="progress-list">
                {% for challenge in challenges %}
                    <li class="progress-item">
                        <div class="progress-icon">
                             <img src="{% static 'public/bicheck1.svg' %}" alt="Challenge icon"/>
                        </div>
                        <a class="progress-link" href="{% url 'challenge' challenge.id %}">
                            {{ challenge.name }}
                        </a>
                    </li>
                {% empty %}
                    <li class="progress-item">
                        <span class="progress-link">No challenges available.</span>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
