.modulelearning-1 {
  text-decoration: none;
  position: relative;
  width: 369px;
  height: 246px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.learning-modules11:hover,
.modulelearning-11:hover,
.modulelearning-12:hover,
.modulelearning-13:hover,
.modulelearning-1:hover {
  cursor: pointer;
}
.learning-modules11 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.this-is-where {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-text);
}
.learning-modules-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.learning-modules10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-131xl);
}
.modulelearning-11,
.modulelearning-12,
.modulelearning-13 {
  text-decoration: none;
  position: relative;
  width: 369px;
  height: 246px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.if-the-user {
  margin: 0;
}
.link-section,
.links6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links6 {
  gap: var(--gap-51xl);
}
.link-section {
  background-color: var(--color-surface-alt);
  padding: 113px 160px;
  width: 100%;
}
.menu-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-primary);
  font-family: var(--font-inter);
  flex: 1; /* Replace min-height with flex grow */
}
@media screen and (max-width: 1200px) {
  .link-section {
    align-self: stretch;
    width: 100%;
    padding: var(--padding-61xl) 5% var(--padding-61xl) 5%;
    box-sizing: border-box;
  }
  .menu-page {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .learning-modules-parent {
    flex: unset;
    align-self: stretch;
  }
  .learning-modules10 {
    flex-direction: column;
    gap: var(--gap-11xl);
  }
  .links6 {
    gap: var(--gap-81xl);
  }
  .link-section {
    padding: var(--padding-61xl) var(--padding-31xl);
    box-sizing: border-box;
    width: 100%;
  }
  .menu-page {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .link-section {
    display: flex;
    padding: var(--padding-31xl) var(--spacing-md);
    box-sizing: border-box;
    width: 100%;
  }

  .modulelearning-1,
  .modulelearning-11,
  .modulelearning-12,
  .modulelearning-13 {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
  }
}
